@model AddCategoriesViewModel<ExpenseCategory>

<div class="d-flex flex-column align-items-center">
    <div id="add-categories-title" class="border-bottom border-dark">
        <h3>Add New Categories</h3>
    </div>
    <div class="shadow p-4 rounded-lg w-50">
        <form method="post" asp-action="SubmitAddCategory">
            @for (int i = 0; i < @Model.Categories.Count; i++)
            {
                <div class='d-flex justify-content-center @(i == 1 ? "mt-2 mb-1" : "mt-1 mb-2")'>
                    <div class="form-group mr-4 ml-4 w-50">
                        <label for="category-name-@i.ToString()">Category Name</label>
                        <input class="form-control"
                               id="category-name-@i.ToString()" type="text" asp-for="Categories[i].CategoryName"/>
                    </div>
                    <div class="form-group mr-4 ml-4 w-50">
                        <label for="select-recurrence">Recurrence:</label>
                        <select
                            id="select-recurrence"
                            asp-for="Categories[i].Recurrence"
                            class="custom-select">
                            @foreach (var item in Enum.GetValues<Recurrence>())
                            {
                                <option value="@item">@item.ToString()</option>
                            }
                        </select>
                    </div>
                    <div>
                        <input asp-for="BudgetId" value="@Model.BudgetId"/>
                    </div>
                </div>
            }
            <div class="d-flex justify-content-center">
                <input class="btn btn-success" type="submit" value="Confirm"/>
            </div>
        </form>
    </div>
</div>
