@model CreateExpenseViewModel

<div>
    <form asp-action="SubmitCreate" method="post">
        <partial name="Inputs/_RecurrenceInputPartial" model="@Model"/>
        <partial name="Inputs/_AmountPaidInputPartial" model="@Model"/>
        <partial name="Inputs/_PaidByInputPartial" model="@Model"/>
        <partial name="Inputs/_PaidAtInputPartial" model="@Model"/>
        <partial name="Inputs/_CategoryInputPartial" model="@Model"/>

        <input type="submit" value="Confirm" class="btn btn-outline-dark" />
    </form>
</div>
