@model TransactionsTableViewModel

@{
    string SelectRowStyle(int index) => index % 2 == 0 ? "even-rows" : "odd-rows";

    string SelectRowLabelIcon(Transaction transaction) => transaction.TransactionCategory.TransactionType switch
    {
        TransactionType.Expense => "fa-angle-double-down text-danger",
        TransactionType.Income  => "fa-angle-double-up text-success"
    };
    var i = 1;
}

@foreach (var transaction in Model.Transactions.SelectMany(group => group))
{   
    <form id="@i.ToString()" asp-controller="Transaction" asp-action="Edit">
    </form>
    <tr class="@SelectRowStyle(i)">
        <th class="align-middle" scope="row"><i class="fa @SelectRowLabelIcon(transaction)"></i></th>
        <td id="cat-name-row">
            <div class="display-info-@i.ToString()">@transaction.TransactionCategory.CategoryName</div>
            <div hidden class="edit-info-@i.ToString()">
                <select id="select-category"
                        asp-for="TransactionCategoryId"
                        class="custom-select"
                        value="@transaction.TransactionCategory.CategoryId"
                        form="@i"
                >
                    @foreach (var category in Model.CurrentCategories)
                    {
                        <option value="@category.CategoryId">@category.CategoryName</option>
                    }
                </select>
            </div>
        </td>
        <td id="amnt-paid-row">
            <div class="display-info-@i.ToString()">@transaction.Amount.ToString("C")</div>
            <div hidden class="edit-info-@i.ToString()">
                <input id="amount-paid"
                       type="number"
                       step="any"
                       asp-for="Amount"
                       value="@transaction.Amount"
                       placeholder='@transaction.Amount.ToString("C")'
                       class="form-control"
                       form="@i"/>
            </div>
        </td>
        <td id="recurrence-row">
            <div class="display-info-@i.ToString()">@transaction.TransactionCategory.Recurrence</div>
            <div hidden class="edit-info-@i.ToString()">
                <select id="select-recurrence"
                        asp-for="Recurrence"
                        value=">@transaction.TransactionCategory.Recurrence"
                        class="custom-select"
                        onchange="return alert(
                            'Changing the recurrence will impact all other transactions in the same category. Are ou sure?')"
                        form="@i"
                >
                    @foreach (var item in Enum.GetValues<Recurrence>())
                    {
                        <option value="@item">@item.ToString()</option>
                    }
                </select>
            </div>
        </td>
        <td id="paid-at-row">
            <div class="display-info-@i.ToString()">@transaction.TransactionDate.ToString("M")</div>
            <div hidden class="edit-info-@i.ToString()">
                <input id="paid-at"
                       type="date"
                       asp-for="TransactionDate"
                       class="form-control"
                       value='@transaction.TransactionDate.ToString("yyyy-MM-dd")'
                       form="@i"
            >
            </div>
        </td>
        <td id="paid-by-row">
            <div class="display-info-@i.ToString()">@transaction.BudgetMemberName</div>
            <div hidden class="edit-info-@i.ToString()">
                <select id="select-paid-by"
                        asp-for="BudgetMemberName"
                        value="@transaction.BudgetMemberName"
                        class="custom-select"
                        form="@i">
                    @foreach (var name in Model.BudgetMembersNames)
                    {
                        <option value="@name">@name</option>
                    }
                </select>
            </div>
        </td>
        <td>     
            <div class="display-info-@i.ToString()">
                <a href="#" class="text-success edition-trigger" id="@i">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </a>
            </div>
            <div hidden class="mt-2 edit-info-@i.ToString()">
                <button type="submit" form="@i" class="border-0 @SelectRowStyle(@i)" style="border-style: none;">
                    <i class="fa fa-check text-success"></i>
                </button>
                <a href="#" class="text-danger edition-trigger" id="@i">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </div>
        </td>
        <td>
            <a asp-action="Delete" 
               asp-controller="Transaction" 
               asp-route-id="@transaction.TransactionId" 
               asp-route-budgetId="@transaction.BudgetId" 
               class="text-danger"
               onclick="return confirm('Delete this row?')"
            >
                <i class="fa fa-minus" aria-hidden="true"></i>
            </a>
        </td>
        <input type="hidden" asp-for="TransactionCategoryId" value="@transaction.TransactionId" form="@i"/>
    </tr>
    i++;
}
